.button {
  border: none;
  padding: 0.5rem;
  &-text {
    font-weight: bold;
    color: inherit;
  }
  &-glow {
    &-purple {
      &:hover {
        box-shadow: 0 0px 10px theme-color("lighter-purple");
      }
    }
    &-blue {
      &:hover {
        box-shadow: 0 0px 10px theme-color("clear-blue");
      }
    }
  }
}