.route {
    text-decoration: none; 
    font-weight: bold;
    font-size: 1.25rem;
    color: theme-color("white");
    transition: color 0.3s linear;
    &:hover {
        color: theme-color("lighter-purple");
    }
}

.route-container {
    gap: 0.75rem;
    //padding-right: 0.75rem;
    @media screen and (max-width: device-max("md")) {
        display: none;
    }
}

#mobile-menu-container-visibility {
    display: flex;
    @media screen and (min-width: device-min("lg")) {
        display: none;
    }
}

.dropdown-route {
    margin-left: 0.5rem;
    &-icon {
        margin-top: 7px;
    }
}

#top-nav-root {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 80px;
}

#top-nav {
    justify-content: space-between;
    //position: relative;
    overflow: hidden;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-popmenu {
    display: none;
    @media screen and (min-width: device-min("lg")) {
        display: flex;
    }
}

#header-mobile-link {
    display: none;
    @media screen and (max-width: device-max("md")) {
        display: auto;
    }
}