#mobile-menu-container {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    transition: left 0.3s ease-in-out;
}
#mobile-menu-top {
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.slide-element.slid {
    left: -100px; //Adjust value for desired slide distance 
  }

.mobile-menu-list-item {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content:space-between;
    align-items: center;
}