.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: theme-color("transparent");
    &-content {
        margin: auto;
        padding-top: 150px;
        padding: 20px;
        width: 80%;
        border: 3px solid theme-color("light-purple");
    }
    &-flex {
        display: flex;
    }
    &-none {
        display: none;
    }
  }