.tag {
    /*padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;*/
    padding: 0.5rem;
    &-blue {
        color: theme-color("light-blue");
        border: 2px solid theme-color("light-blue");
        background-color: theme-color("text");
        &:hover {
            color: theme-color("white");
            border: 2px solid theme-color("clear-blue");
            background-color: theme-color("clear-blue");
            box-shadow: 0 0px 10px theme-color("clear-blue");
        }
        
    }
    &-purple {
        color: theme-color("light-purple");
        border: 2px solid theme-color("light-purple");
        background-color: theme-color("text");
        &:hover {
            color: theme-color("white");
            border: 2px solid theme-color("lighter-purple");
            background-color: theme-color("lighter-purple");
            box-shadow: 0 0px 10px theme-color("lighter-purple");
        }
    }
    &-gap {
        gap: 1rem;
    }
}
