#resume-root {
     width: 100%;
     margin: 0;
     font-family:'Times New Roman', Times, serif;
     overflow-x: hidden;
     display: flex;
     background-color: theme-color("dark-purple");
     color: white;
 }
 #resume-side-bar {
    // background-color: theme-color("light-purple");
    background-image: linear-gradient(to bottom, theme-color("light-purple"), theme-color("lighter-purple"));
     width: 25%;
     flex-direction: column;
     margin: 1rem;
     border-radius: 0.5rem;
     justify-content: center;
     margin-top: 1.4rem;
 }
 .resume-side-bar-section-title-container {
     background-color: theme-color("purple");
 }
 .resume-side-bar-section-title {
     padding-left: 1rem;
 }
 #resume-body {
     width: 75%;
     padding-right: 1rem;
     flex-direction: column;
 }
 .resume-body-section-title-container {
     background-color: theme-color("light-purple");
     padding-left: 1rem;
     border-radius: 0.5rem;
 }
 .resume-body-section-body {
     padding-right: 1.25rem;
     padding-left: 1.25rem;
 }
 .resume-body-section-body-item {
     display: flex;
     flex-direction: row;
 }
 .resume-body-section-body-item-body-container-group {
     flex-direction: column;
 }
 .resume-body-section-body-item-title-container {
     display: flex;
     padding-right: 2rem;
     flex-direction: column;
 }
 .resume-body-section-body-item-body-container {
     display: flex;
     flex-direction: row;
 }
 .resume-title {
     text-align: center;
 }
 .resume-p {
     font-size: 14px;
     margin: 0;
 }