html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: theme-color("dark-purple");
    color: theme-color("white");
    font-family: Inter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100vw;
    min-width: 360px;
    min-height: 640px;
    z-index: -1;
  }
  
  .content-container {
    width: 1200px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    justify-self:center;
    &::before {
      height: 100%;
      z-index: -1;
    }
    @media screen and (max-width: device-max("lg")) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      width: 100%;
    }
    //z-index: 0;
    &-padding {
      padding-bottom: 100px;
      padding-top: 150px;
    }
  }

  
  .p {
    font-size: 1rem;
    //padding-top: 1rem; 
    //padding-bottom: 1rem;
    
    font-weight: 500;
    @media screen and (max-width: device-max("md")) {
      justify-content: center;
    }
  }

  .custom-scrollbars__content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .custom-scrollbars__content::-webkit-scrollbar {
    display: none;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  a, .a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
  }
  
  .fit-width {
    width: 100%;
  }

  .width-half {
    width: 50%;
  }

  .fit-height {
    height: 100%;
  }

.title {
  font-size: 4rem; 
  font-weight: 750;
  text-align: center;
}


.sub-title {
  font-size: 2.5rem;
  font-weight: 700;
  &-link-align {
    padding-top: 15px;
  }
  &-icon {
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
}

h1, h2, h3 {
  justify-content: start;
  @media screen and (max-width: device-max("sm")) {
    justify-content: center;
    align-self: center;
  }
}

h3 {
  font-size: 1.75rem;
  font-weight: 650;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

.transition {
  &-fast {
    transition: 0.3s;
  }
}

::-webkit-scrollbar {
  width: 10px;
  &-track {
    background-color: theme-color("dark-purple"); 
  }
  &-thumb {
    background-color: theme-color("lighter-purple"); 
    border-radius: 10px;
    &:hover {
      background-color: theme-color("purple"); 
    }
  }
}

.overflow {
  &-hidden {
    overflow: hidden;
  }
  &-scroll {
    overflow: scroll;
  }
}